<p>
	<h1><%= @article.title %></h1>
</p>

<p>
	Posted by:
	<strong><%= current_user.email %></strong>
</p>

<p>
	On <%= @article.created_at.strftime("%B %d %Y") %>
</p>

<p>
	<h4><%= @article.text %></h4>
</p>